<!DOCTYPE html>
<html lang="pt-br">

 <head> 
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="URL" content="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1"/>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow"/>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotns-icones.css') }}">
    <link rel="shortcut icon" href="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1" type="image/ico" />

 </head>

<body>
    
<header class="header">        
  
        <div class="header_logo">
            <a href="https://assecont.com.br" target="_blank"><img src="{{ url_for('static', filename='images/logoAssecontBranco.png')}}" alt="logo.png" title="Assecont"/></a>
        </div>

        <div class="menu">

            <nav class="nav_menu">
            
              <ul>
                
                <li><a href="{{url_for('index')}}" title="Home">Inicio</a></li>

                </li>

                <li><a href="">Relatórios</a>
                 
                    <ul>
                        
                        <li><a href="#" title="Relatórios">Apontamento</a></li>
                        <li><a href="#" title="Relatórios">Banco de horas</a></li>
                        <li><a href="#" title="Relatórios">Justificativas</a></li>
                        <li><a href="#" title="Relatórios">Macações</a></li>

                    </ul>

                </li>

                <li><a href="">Comandos SQL</a>
                 
                  <ul>
                      
                      <li><a href="#" title="Relatórios">Apagar Marcações</a></li>
                      <li><a href="#" title="Relatórios">Duplicidade</a></li>
                      <li><a href="#" title="Relatórios">Justificativas</a></li>
                      <li><a href="#" title="Relatórios">Macações</a></li>

                  </ul>

              </li>

                <li><a href="">Relógios</a>
                
                    <ul>

                        <li><a href="#" title="zkt">ZKTeco</a></li>
                        <li><a href="#" title="control_id">Control ID</a>

                        <ul>
                          <li><a href="#" title="id_class">ID Class</a></li>
                          <li><a href="#" title="idx">IDX</a></li>
                        </ul>

                        <li><a href="#" title="gertec">Gertec</a>

                          <ul>
                            <li><a href="#" title="g2_d">G2 D</a></li>
                            <li><a href="#" title="g2_bpd">G2 BPD</a></li>
                            <li><a href="#" title="g2_b">G3 B</a></li>
                            <li><a href="#" title="g2_kr">G3 KR</a></li>
                          </ul>

                        <li><a href="#" title="henry">Henry</a>

                          <ul>
                            <li><a href="#" title="adv">ADV</a></li>
                            <li><a href="#" title="compact">Compact</a></li>
                            <li><a href="#" title="prime">Prime</a></li>
                            <li><a href="#" title="superfacil">Super Facil</a></li>
                          </ul>

                        <li><a href="#" title="Kurumim">Kurumim</a>
                          <ul>
                            <li><a href="#" title="pendrive">Pendrive</a></li>
                          </ul>
                        <li><a href="#" title="top_data">TOP DATA</a></li>
                        <li><a href="#" title="id_data">ID DADA</a></li>
                        <li><a href="#" title="zpm">ZPM</a></li>
                        <li><a href="#" title="dimep">DIMEP</a></li>
                        </li>
                        
                      
                    </ul>

                </li>

                <li><a href="#" title="">Manuais</a></li>
                <li><a href="{{ url_for('sugestao')}}" title="sugestao">Sugestões de melhorias</a></li>
                <li><a href="{{ url_for('novo_conteudo')}}" title="adicionar_conteudo" >Adicionar conteúdo</a></li>
              
              </ul>
            
            </nav>
          
        </div><!-- menu -->

</header>

<main class="main">
            
            <h1 class="section_title"><i class="icon icon-code"></i> Busca do Suporte </h1>

            <div class="search">
              <input type="search" id="txtBuscar" placeholder="Digite sua Pesquisa">
            </div>
            
            <div class="box-artigo">
                
                <div id="espaco1">

                  <!--Espaço 1-->

                  <h2 id="tituloEspaco">Últimas Atualizações Asseponto</h2><br><br>


                  <a id="linkPoupUp" href="#openModal">[Atualização] AssepontoWEB Exemplo</a>

                  <div id="openModal" class="modalDialog">
                    <div>
                      <a href="#close" title="Close" class="close">X</a>
                      <h2>Título</h2>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor beatae reprehenderit quos unde nihil adipisci repudiandae velit! Inventore fuga blanditiis atque esse cupiditate, itaque nemo, perspiciatis, necessitatibus consequatur expedita eos?</p>
                    </div>
                  </div>

                  <!--FIM Espaço 1-->

                </div>

                <div id="esapco2">

                  <!--Espaço 2-->

                  <h2 id="tituloEspaco">Últimas Postagens</h2><br><br>


                  <a id="linkPoupUp" href="#openModal">[Nova função] Desbloqueio Control ID via Assebot</a>

                  <div id="openModal" class="modalDialog">
                    <div>
                      <a href="#close" title="Close" class="close">X</a>
                      <h2>Título</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae accusantium excepturi adipisci rem debitis non libero fugiat. Corrupti repellat velit ipsum officia maiores assumenda aliquid molestiae debitis, expedita quaerat?</p>

                    </div>
                  </div>
                  
                  <!--FIM Espaço 2-->

                </div>
              

            </div><!--Box Artigo 1 -->

</main>

<footer class="main_footer">
    <div class="main_footer_copy">
        
        <p class="m-b-footer"> Grupo Assecont, todos os direitos reservados.</p> 
        <p class="by"><i></i> Desenvolvido por: RESOLVEDORES <a href="" title="Templates Html" target="_blank"></a></p>
    
    </div>

    <!-- API Acessibilidade -->
    
</footer>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script>
    
    //Menu
    $(".main-nav ul li:has(ul)").addClass("submenu");
    $(".main-nav ul li:has(ul)").append("<i></i>");
    $(".main-nav ul i").click(function() {
      $(this)
        .parent("li")
        .toggleClass("open");
      $(this)
        .parent("li")
        .children("ul")
        .slideToggle();
    });

    //Menu Mobile
    $(".mob-btn").click(function() {
      if (!$("html").hasClass("show-menu")) {
        $("html").addClass("show-menu");
      } else {
        $("html").removeClass("show-menu");
      }
    });

    $(".overlay").click(function() {
      if ($("html").hasClass("show-menu")) {
        $("html").removeClass("show-menu");
      }
    });

    //Aparecer addClass
    $(".first ul")
    
      .clone()
      .prependTo(".main-nav")
      .addClass("desk-hide");

    $(".last ul")
    
      .clone()
      .appendTo(".main-nav")
      .addClass("desk-hide");

</script>
<body class="mat-typography">
  <app-root></app-root>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>
</html>