<!DOCTYPE html>
<html lang="pt-br">

 <head> 
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="URL" content="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1"/>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow"/>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotns-icones.css') }}">
    <link rel="shortcut icon" href="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1" type="image/ico" />

 </head>

<body>
    
<header class="header">        
  
    <div class="header_logo">
        <a href="https://assecont.com.br" target="_blank"><img src="{{ url_for('static', filename='images/logoAssecontBranco.png')}}" alt="logo.png" title="Assecont"/></a>
    </div>

</header>

<main class="main">
            
    <h1 class="section_title"><i class="icon icon-code"></i> Busca do Suporte </h1>

    <form action="{{ url_for('index')}}" method="POST">

        <label for="email" >E-mail: </label>
        <input type="email" name="email" id="email" placeholder="Digite seu E-mail">

        <label for="password">Senha: </label>
        <input type="password" name="password" id="password" placeholder="Digite sua Senha">

        <button type="submit">Login</button>

    </form>


</main>

<footer class="main_footer">
    <div class="main_footer_copy">
        
        <p class="m-b-footer"> Grupo Assecont, todos os direitos reservados.</p> 
        <p class="by"><i></i> Desenvolvido por: RESOLVEDORES <a href="" title="Templates Html" target="_blank"></a></p>
    
    </div>

    <!-- API Acessibilidade -->
    
</footer>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script>
    
    //Menu
    $(".main-nav ul li:has(ul)").addClass("submenu");
    $(".main-nav ul li:has(ul)").append("<i></i>");
    $(".main-nav ul i").click(function() {
      $(this)
        .parent("li")
        .toggleClass("open");
      $(this)
        .parent("li")
        .children("ul")
        .slideToggle();
    });

    //Menu Mobile
    $(".mob-btn").click(function() {
      if (!$("html").hasClass("show-menu")) {
        $("html").addClass("show-menu");
      } else {
        $("html").removeClass("show-menu");
      }
    });

    $(".overlay").click(function() {
      if ($("html").hasClass("show-menu")) {
        $("html").removeClass("show-menu");
      }
    });

    //Aparecer addClass
    $(".first ul")
    
      .clone()
      .prependTo(".main-nav")
      .addClass("desk-hide");

    $(".last ul")
    
      .clone()
      .appendTo(".main-nav")
      .addClass("desk-hide");

</script>
<body class="mat-typography">
  <app-root></app-root>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>
</html>