<!DOCTYPE html>
<html lang="pt-br">

 <head> 
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="URL" content="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1"/>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow"/>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotns-icones.css') }}">
    <link rel="shortcut icon" href="https://www.asseponto.com.br/assepontoControle/suporte/Atendimento/default.aspx?filTipo=1" type="image/ico" />

 </head>

<body>
    
<header class="header">        
  
        <div class="header_logo">
            <a href="https://assecont.com.br" target="_blank"><img src="{{ url_for('static', filename='images/logoAssecontBranco.png')}}" alt="logo.png" title="Assecont"/></a>
        </div>

        <div class="menu">

            <nav class="nav_menu">
            
              <ul>
                
                <li><a href="{{url_for('pagina_inicial')}}" title="Home">Inicio</a></li>

                </li>

                <li><a href="">Relatórios</a>
                 
                    <ul>
                        
                        <li><a href="#" title="Relatórios">Apontamento</a></li>
                        <li><a href="#" title="Relatórios">Banco de horas</a></li>
                        <li><a href="#" title="Relatórios">Justificativas</a></li>
                        <li><a href="#" title="Relatórios">Macações</a></li>

                    </ul>

                </li>

                <li><a href="">Comandos SQL</a>
                 
                  <ul>
                      
                      <li><a href="#" title="Relatórios">Apagar Marcações</a></li>
                      <li><a href="#" title="Relatórios">Duplicidade</a></li>
                      <li><a href="#" title="Relatórios">Justificativas</a></li>
                      <li><a href="#" title="Relatórios">Macações</a></li>

                  </ul>

              </li>

                <li><a href="">Relógios</a>
                
                    <ul>

                        <li><a href="#" title="zkt">ZKTeco</a></li>
                        <li><a href="#" title="control_id">Control ID</a>

                        <ul>
                          <li><a href="#" title="id_class">ID Class</a></li>
                          <li><a href="#" title="idx">IDX</a></li>
                        </ul>

                        <li><a href="#" title="gertec">Gertec</a>

                          <ul>
                            <li><a href="#" title="g2_d">G2 D</a></li>
                            <li><a href="#" title="g2_bpd">G2 BPD</a></li>
                            <li><a href="#" title="g2_b">G3 B</a></li>
                            <li><a href="#" title="g2_kr">G3 KR</a></li>
                          </ul>

                        <li><a href="#" title="henry">Henry</a>

                          <ul>
                            <li><a href="#" title="adv">ADV</a></li>
                            <li><a href="#" title="compact">Compact</a></li>
                            <li><a href="#" title="prime">Prime</a></li>
                            <li><a href="#" title="superfacil">Super Facil</a></li>
                          </ul>

                        <li><a href="#" title="Kurumim">Kurumim</a>
                          <ul>
                            <li><a href="#" title="pendrive">Pendrive</a></li>
                          </ul>
                        <li><a href="#" title="top_data">TOP DATA</a></li>
                        <li><a href="#" title="id_data">ID DADA</a></li>
                        <li><a href="#" title="zpm">ZPM</a></li>
                        <li><a href="#" title="dimep">DIMEP</a></li>
                        </li>
                        
                      
                    </ul>

                </li>

                <li><a href="#" title="">Manuais</a></li>
                <li><a href="{{ url_for('novo_conteudo')}}" title="adicionar_conteudo" >Adicionar conteúdo</a></li>
                <li><a href="{{ url_for('cadastrar')}}" title="cadastar">Cadastrar</a></li>
                <li><a href="{{ url_for('logout')}}" title="logout">Sair</a></li>
              
              </ul>
            
            </nav>
          
        </div><!-- menu -->

</header>

    <h2 id="titulo_h2" >Novo Conteúdo</h2>
    <form class="form" method="POST">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" maxlength="150" placeholder="Digite o título"/><br />

      <label for="categoria">Categoria</label>
      <select name="categoria" id="categoria">
        <option value="ERRO SQL">ERRO SQL</option>
        <option value="MARCACOES DO DIA">MARCACOES DO DIA</option>
        <option value="MARCACOES NOTURNAS">MARCACOES NOTURNAS</option>
        <option value="PARAMETROS DO SISTEMA">PARAMETROS DO SISTEMA</option>
        <option value="FAIXA DE CALCULO">FAIXA DE CALCULO</option>
        <option value="ASSEFIN">ASSEFIN</option>
        <option value="COMANDOS">COMANDOS</option>
        <option value="ESCALA">ESCALA</option>
        <option value="APONTAMENTO">APONTAMENTO</option>
        <option value="RELATORIOS">RELATORIOS</option>
        <option value="REDES">REDES</option>
        <option value="UTILIDADES">UTILIDADES</option>
      </select>

      <label for="descricao">Descrição</label>
      <textarea
        id="descricao"
        name="descricao"
        rows="4"
        maxlength="700"
        placeholder="Digite aqui o novo procedimento"
      ></textarea>
      <p id="caracteresRestantes">700 caracteres restantes</p>

      <label for="nome_tecnico">Seu nome</label>
      <input type="text" id="nome_tecnico" name="nome_tecnico" maxlength="150" value="{{ current_user.nome }}" readonly/><br />

      <label for="tipo_de_procedimento">Permissões</label><br />

      <input type="radio" name="permissoes" id="suporte" value="suporte" />
      <label for="suporte">Apenas Suporte</label><br />

      <input type="radio" name="permissoes" id="todos" value="todos" />
      <label for="todos">Todos</label><br />

      <label for="data_hora">Data e Hora:</label>
      <input type="datetime-local" name="data_hora" id="data_hora" value="{{ data_hora_atual }}" readonly /><br />

      <button type="submit">Enviar</button>
    </form>

    <script>

      var msg = "{{ msg }}";

      if(msg){
        alert(msg);
      }

      const textarea = document.getElementById("descricao");

      textarea.addEventListener("input", function () {
        // Reseta a altura do campo antes de ajustar
        this.style.height = "auto";
        // Ajusta a altura conforme o conteúdo
        this.style.height = this.scrollHeight + "px";
      });

      const descricao = document.getElementById("descricao");
      const caracteresRestantes = document.getElementById(
        "caracteresRestantes"
      );
      const maxLength = descricao.getAttribute("maxlength");

      descricao.addEventListener("input", function () {
        const caracteresDigitados = descricao.value.length;
        const restante = maxLength - caracteresDigitados;
        caracteresRestantes.textContent = `${restante} caracteres restantes`;
      });
      
    </script>
  </body>
</html>
